
.welcome-page {
  background-color: #000000;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; 
}


.nav {
  width: 100%;
  background-color: #333333;
  padding: 20px 40px; 
  text-align: left;
  margin: 0 auto; 
  box-sizing: border-box; 
}

.nav h1 {
  font-size: 24px;
  margin: 0;
  color: white;
  font-weight: 500;
  margin-left: 10px;
}


.welcome-mid {
  flex-grow: 1;
  width: 100%;
  padding: 0 40px;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center; 
  text-align: left;
  margin: 0 auto; 
  box-sizing: border-box;
}

.welcome-content {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
}


.welcome-mid h2 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 36px;
}

.welcome-mid p {
  font-size: 16px;
  margin-bottom: 40px;
  color: white;
}

.chatbot-image {
  width: 400px; 
  height: auto; 
  filter: grayscale(100%) opacity(0.7);
}

.start-button {
  background-color: white;
  color: black;
  border: none;
  padding: 16px 60px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.start-button:hover {
  background-color: #f0f0f0;
}


.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
  background-color: #333333;
  margin: 0 auto; 
  box-sizing: border-box;
}

.footer p {
  margin: 0;
  color: white;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}
